@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900;
    font-family: 'Inter', sans-serif;
  }
}

.talk-progress {
  position: relative;
}

.talk-progress::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: var(--progress);
  width: 4px;
  background: linear-gradient(to bottom, #3b82f6, #60a5fa);
  border-radius: 2px;
  transition: height 1s linear;
}